/* schedule.css */
body {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.title {
    color: #4b0082;
    font-size: 24px;
    font-weight: bold;
}

.logout {
    color: white;
    background-color: #8A2BE2; /* Ciemniejszy kolor */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.logout:hover {
    background-color: #5D3FD3; /* Ciemniejszy odcień dla hover */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-top: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top; /* Wyrównanie tekstu do góry */
}

th {
    background-color: #4b0082;
    color: white;
}

.class-item {
    position: relative;
    margin-bottom: 10px;
}

.class-room {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    color: gray;
}

.class-info {
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}

.button {
    display: inline-block;
    background-color: #4b0082;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}

.button:hover {
    background-color: #8a2be2;
}
