{% extends "dashboard.html" %}

{% block title %}Attendance{% endblock %}

{% block content %}
    <h1>Attendance for Lesson {{ lesson_id }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <ul>
            {% for student, student_form in zip(students, form.students) %}
                <li>
                    {{ student.first_name }} {{ student.last_name }}
                    {{ student_form.present() }}
                </li>
            {% endfor %}
        </ul>
        {{ form.submit() }}
    </form>
{% endblock %}
