<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Edit Topic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_topic.css') }}">
</head>
<body>
    <div class="container">
        {% block content %}
        <h1>Edytuj temat</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                <label>Tytuł</label><br>
                {{ form.title(size=32, class="form-control") }}<br>
                {% for error in form.title.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label>Wiadomość</label><br>
                {{ form.body(rows=4, class="form-control") }}<br>
                {% for error in form.body.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit(class="button", value="Wyślij") }}
            </div>
        </form>
        {% endblock %}
    </div>
</body>
</html>
