{% block content %}
<h1>Login</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% if form.email.errors %}{{ form.email.errors }}{% endif %} <!-- tutaj zmiana -->
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% if form.email.errors %}{{ form.email.errors }}{% endif %} <!-- tutaj zmiana -->
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                window.onload = function() {
                    {% for category, message in messages %}
                        alert("{{ message }}");
                    {% endfor %}
                };
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}