<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{{ topic.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='posts.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-content">
              <a href="{{ url_for('main.dashboard') }}" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='logo.webp') }}" alt="Logo MIB UAM" class="logo">
        </a>
        <a href="{{ url_for('main.dashboard') }}" style="text-decoration: none;">
            <span class="title">MIB UAM</span>
        </a>
        </div>
        <a href="{{ url_for('main.logout') }}" class="logout">Wyloguj się</a>
    </header>
    <div class="container">
        <div class="topic-panel">
            <h1>{{ topic.title }}</h1>
            <p>{{ topic.body }}</p>
            <p class="topic-info">Created by {{ 'Anonymous' if topic.is_anonymous else topic.user.username }} on {{ topic.date }}</p>
        </div>

        <h2>Komentarze</h2>
        <ul class="posts-list">
            {% for post in posts %}
                <li class="post-item">
                    <p>{{ post.content }}</p>
                    <p class="post-info">Posted by {{ 'Anonymous' if post.is_anonymous else post.user.username }} on {{ post.date }}</p>
                    <div class="post-actions">
                        <a href="{{ url_for('main.edit_post', post_id=post.id) }}" class="small-button">Edytuj</a>
                        <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="post" class="inline-form">
                            <button type="submit" class="small-button">Usuń</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if current_user.is_authenticated %}
            <div class="post-form-panel">
                <h1>Dodaj Nowy Post</h1>
                <form method="POST" class="post-form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label>Treść wiadomości</label>
                        {{ form.content(rows=5, class="form-control") }}
                        {% for error in form.content.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>Dodaj anonimowo</label>
                        {{ form.anonymous(class="form-check-input") }}
                    </div>
                    <div class="form-group form-actions">
                        {{ form.submit(class="button", value="Dodaj wpis") }}
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
</body>
</html>