<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Plan Lekcji</title>
</head>
<body>
    <h1>Twój Plan Lekcji</h1>
    <ul>
        {% for day in schedule %}
            <li>{{ day.day }}:</li>
            <ul>
                {% for class in day.classes %}
                    <li>{{ class.subject }} ({{ class.time }}), sala {{ class.room }}{% if class.class %}, klasa {{ class.class }}{% endif %}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    <a href="{{ url_for('main.dashboard') }}">Powrót do Pulpitu</a>
</body>
</html>
