{% extends "dashboard.html" %}

{% block title %}Topics{% endblock %}

{% block content %}
<h1>Topics</h1>
{% if current_user.is_authenticated %}
    <a href="{{ url_for('main.add_topic') }}">Add New Topic</a>
{% endif %}
<ul>
    {% for topic in topics %}
        <li>
            <a href="{{ url_for('main.posts', topic_id=topic.id) }}">{{ topic.title }}</a>
            <p>{{ topic.body }}</p>
            <p>Created by {{ topic.user.username }} on {{ topic.date }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
